@model WebPPublished.Models.IndexViewModel
@{
    ViewBag.Title = "Felhasználói fiók beállítások";
}

<h3>@ViewBag.Title</h3>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Profil</dt>
        <dd>
            [ @Html.ActionLink("Profil beállítások", "EditProfile") ]
        </dd>
        <dt>Jelszó</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Jelszó változtatása", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Jelszó létrehozása", "SetPassword")
            }
            ]
        </dd>
        <dt>Külső hozzáférések</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Külső fiók szerkesztése", "ManageLogins") ]
        </dd>
    </dl>
</div>
