@model WebPPublished.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Külső fiókok";
}

<h3>@ViewBag.Title</h3>
<hr />
<p class="text-success">@ViewBag.StatusMessage</p>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Még nincs külső fiókod. Bejelentkezésnél felvehetsz újat.
            </p>
        </div>
    }
    else
    {
        if (Model.CurrentLogins.Count > 0)
        {
            foreach (var account in Model.CurrentLogins)
            {
                <div class="row">
                    <div class="col-md-1 text-center facebook-text">
                        @account.LoginProvider
                    </div>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("RemoveLogin", "Manage"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-1">
                                @Html.Hidden("loginProvider", account.LoginProvider)
                                @Html.Hidden("providerKey", account.ProviderKey)
                                <input type="submit" class="btn btn-default" value="Törlés" title="@account.LoginProvider bejelentkezés eltávolítása" />
                            </div>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </div>
            }
        }
        if (Model.OtherLogins.Count > 0)
        {
            using (Html.BeginForm("LinkLogin", "Manage"))
            {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in Model.OtherLogins)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Bejelentkezés @p.Caption felhasználói fiókkal">@p.AuthenticationType</button>
                    }
                </p>
                </div>
            }
        }
    }
}
<div class="row marign-top">
    <div class="col-md-2">
        @Html.ActionLink("Vissza", "Index", "Manage")
    </div>
</div>
