@model WebPPublished.Models.CategoriesListData
@{ 
    String onSuccessGetComments = String.Format("RecipeForum.GetComments( '{0}', '{1}' );", Url.Action("ListComments", "Comments"), Model.SelectedRecipe.ID);
    String onSuccessCreateComment = String.Format("RecipeForum.CreateCommentField( '{0}', '{1}' );", Url.Action("Create", "Comments"), Model.SelectedRecipe.ID);
    String onSuccess = onSuccessGetComments + onSuccessCreateComment;
}
@using (Ajax.BeginForm("Create", "Comments",
                        new AjaxOptions
                        {
                            UpdateTargetId = "create_comment",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            OnSuccess = onSuccess
                        },
                        new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SelectedRecipe.ID)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.CommentsDB.Text, new { @class = "form-control", @id = "newcomment", @name = "newcomment" })
                @Html.ValidationMessageFor(model => model.CommentsDB.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input id="add_new_comment" type="submit" value="Mentés" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/main")