@using PagedList.Mvc
@model WebPPublished.Models.CategoriesListData

@{ ViewBag.Title = "Kommentek - " + Model.SelectedRecipe.Title;
    var i = 0;
}
<div>
    <h4>Keresés: <input type="text" name="search_box"></h4>
</div>
<hr />
<table>
    <tr>
        <td width="100" align="center">Kép</td>
        <td width="100" align="center">Étel neve</td>
        <td width="100" align="center">Elkészítési idő</td>
        <td width="100" align="center">Hozzávalók</td>
    </tr>
    <tr>
        <td width="100" align="center"><img src="/Upload/Images/@Model.SelectedRecipe.PictureUrl" style="width:100%" /></td>
        <td width="100" align="center">@Model.SelectedRecipe.Title</td>
        <td width="100" align="center">@Model.SelectedRecipe.PrepareTime</td>
        <td width="100" align="center">@Model.SelectedRecipe.Ingredients</td>
    </tr>
 
</table>
@foreach (var item in @Model.Comments)
{
    <table>
        <tr>
            <td>@item.User.UserName</td>
            <td>@item.CreateDate</td>
        </tr>
        <tr>
            <td>@item.Text</td>
        </tr>
    </table>
}
@Html.PagedListPager(Model.Comments, page => Url.Action("Comments", new { recipeId = Model.SelectedRecipe.ID, pageNumber = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

