@using PagedList.Mvc;
@model WebPPublished.Models.CategoriesListData

@{ ViewBag.Title = "Recept Fórum";
    var j = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Recept Fórum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="table-responsive">
        <table class="table table-hover text-center">
            @foreach (var item in @Model.Recipes)
            {
                if (j == 0)
                {
                    j = 1;
                    <tr>
                        <td>Kép</td>
                        <td>Étel neve</td>
                        <td>Elkészítési idő</td>
                        <td>Hozzávalók</td>
                    </tr>
                }

                <tr onclick="location.href = '@(Url.Action("Comments","Comments", new {recipeId = @item.ID }))';">
                    <td width="250"><img src="/Upload/Images/@item.PictureUrl" class="img-responsive" /></td>
                    <td>@item.Title</td>
                    <td>@item.PrepareTime</td>
                    <td>@item.Ingredients</td>
                </tr>
            }
        </table>
    </div>
    @Html.PagedListPager(Model.Recipes, page => Url.Action("Details", new { pageNumber = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>