@using PagedList.Mvc
@model WebPPublished.Models.CategoriesListData

@{ ViewBag.Title = "Kategória - " + @Model.SelectedCategory.DisplayName;
    var i = 0;
}
<div>
    <h4>Keresés: <input type="text" name="search_box"></h4>
    @foreach (var item in @Model.AllCategory)
    {
        if (i == 0)
        {
            <input type="button" onclick="location.href = '\@Url.Action("Index", "Home")';" value="Összes" />
        }
        <input type="button" onclick="location.href = '\@Url.Action("Details","Categories", new { @item.FriendlyUrl })';" value="@item.DisplayName" />
        i = 1;
    }
</div>
<hr />
<table>

    @foreach (var item in @Model.Recipes)
    {
        if (i == 0)
        {
            i = 1;
            <tr>
                <td width="100" align="center">Kép</td>
                <td width="100" align="center">Étel neve</td>
                <td width="100" align="center">Elkészítési idő</td>
                <td width="100" align="center">Hozzávalók</td>
            </tr>
        }

        <tr onclick="location.href = '@(Url.Action("Comments","Comments", new {recipeId = @item.ID }))';"> 
            <td width="100" align="center"><img src="/Upload/Images/@item.PictureUrl" style="width:100%" /></td>
            <td width="100" align="center">@item.Title</td>
            <td width="100" align="center">@item.PrepareTime</td>
            <td width="100" align="center">@item.Ingredients</td>
        </tr>
    }
</table>
@Html.PagedListPager(Model.Recipes, page => Url.Action("Details", new {friendlyUrl = Model.SelectedCategory.FriendlyUrl, pageNumber = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });
</script>
