@using PagedList.Mvc
@model WebPPublished.Models.CategoriesListData

@{ ViewBag.Title = "Kategória - " + @Model.SelectedCategory.DisplayName;
    var i = 0;
}
<div class="table-responsive">
    <table class="table table-hover text-center">
        @foreach (var item in @Model.Recipes)
        {
            if (i == 0)
            {
                i = 1;
                <tr>
                    <td>Kép</td>
                    <td>Étel neve</td>
                    <td>Elkészítési idő</td>
                    <td>Hozzávalók</td>
                </tr>
            }

            <tr onclick="location.href = '@(Url.Action("Comments","Comments", new {recipeId = @item.ID }))';">
                <td width="250"><img src="/Upload/Images/@item.PictureUrl" class="img-responsive"/></td>
                <td>@item.Title</td>
                <td>@item.PrepareTime</td>
                <td>@item.Ingredients</td>
            </tr>
        }
    </table>
</div>
    @Html.PagedListPager(Model.Recipes, page => Url.Action("Details", new { friendlyUrl = Model.SelectedCategory.FriendlyUrl, pageNumber = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
